.datos-container {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.datos-container h3 {
    color: #ecf0f1;
    font-size: 18px;
    margin-bottom: 10px;
}

.datos-container p {
    color: #bdc3c7;
    font-size: 16px;
    margin: 5px 0;
}

.dato {
    color: #ffffff;
    font-weight: bold;
}

